@font-face {
  font-family: "Campton-black";
  src: url("../font/Campton.Black.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Campton-bold";
  src: url("../font/Campton.Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Campton-extra-bold";
  src: url("../font/Campton.ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url("../font/Campton.Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton-book";
  src: url("../font/Campton.Book.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-teste {
  height: 100px;
  max-width: 80%;
  /* padding: 0 12% !important; */
  background: #081e66;
  margin: 0 auto !important;
}

.brand-custom {
  margin-right: 0 !important;
}

.header-externo {
  width: 100%;
  background-color: #081e66;
}

.logo-header-img {
  width: 90%;
}

ul > li {
  color: white;
  list-style: none;
  font-weight: 400;
  font-family: Campton;
  cursor: pointer;
  font-size: 0.9rem;
}

.menu-ul {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

.area-do-corretor-btn {
  border: 2px solid white;
  border-radius: 30px;
  padding: 0.3rem 1.3rem 0.2rem;
  text-decoration: none;
  color: #f1c433;
  font-family: Campton;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
}

.banner {
  background: url("../img/banner/001.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* position: relative; */
}

.telefone-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 2.2rem;
  position: absolute;
  top: 3.3rem;
  left: 50%;
  right: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.paragraph-tel-banner {
  font-family: Campton;
  color: white;
  text-decoration: none;
}

.numero-telefone-banner {
  text-decoration: none;
  color: white;
  font-family: Campton-black;
  font-size: 3rem;
}

.info-banner {
  /* margin-left: 12%; */
  margin: 17% 10% 20% 0;
  max-width: 80%;
  text-align: left;
}

.titulo-banner {
  font-family: Campton-bold;
  color: white;
  font-size: 3.7rem;
  line-height: 4rem;
  margin-bottom: 0.8rem;
}

.paragrafo-banner {
  color: white;
  font-family: Campton-book;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}

.btn-saiba-mais-header {
  background-color: #081e66;
  color: white;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: Campton-book;
  margin-right: 1rem;
}

.btn-decorado-header {
  background-color: #f1c433;
  color: #081e66;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: Campton-book;
}

.bullet {
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.div-empreendimento {
  /* position: absolute;
  top: 125%;
  left: 50%;
  right: 50%; */
  width: 100%;
  margin-top: -8rem;
  /* transform: translate(-50%, -50%); */
}

.carousel-indicators {
  bottom: 14% !important;
}

.carousel-indicators > li {
  width: 13px !important;
  height: 13px !important;
  border: 2px solid #fff !important;
  border-radius: 50px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.carousel-indicators .active {
  background-color: #fff !important;
}

.btn-empreendimento-box {
  z-index: 99;
  width: 12rem;
  height: 12rem;
  background-color: #081e66;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  text-align: center;
}

.div-empreendimento-interna-btn {
  z-index: 99;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.paragrafo-div-empreendimento {
  position: relative;
  z-index: 999;
  text-align: center;
  color: white;
  font-family: Campton-book;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
}

.paragrafo-btn-empreendimento {
  z-index: 99;
  font-family: Campton-extra-bold;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 2.1rem;
  margin: 0 0 -0.1rem;
}

.btn-clique-aqui {
  font-family: Campton;
  margin: 0;
  color: #f1c433;
}
.pq-escolher-opcao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 15rem auto 0;
  width: 70%;
}

.escolher-opcao-texto-esquerdo > h2 {
  color: #f1c433;
  font-family: Campton-black;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.escolher-opcao-texto-esquerdo > p {
  font-family: Campton-book;
  margin-bottom: 3rem;
  color: #081e66;
  line-height: 1.5rem;
}

.vantagens-opcao > p {
  font-family: Campton-book;
  font-size: 1.5rem;
  color: #081e66;
  margin-bottom: 3rem;
}

.vantagens-opcao > p > span {
  font-family: Campton-extra-bold;
}

.vantagens-opcao-conteudo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titulo-vantagens-opcao {
  font-family: Campton-extra-bold;
  color: #081e66;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.vantagens-opcao-conteudo > p {
  font-family: Campton-extra-bold;
  color: #f1c433;
  font-size: 4rem;
  padding-right: 1rem;
}

.paragrafo-vantagens-opcao {
  font-family: Campton-book;
  color: #081e66;
  font-size: 0.8rem;
}

.hr-vantagens {
  margin: 2.2rem 0;
  border-top: 1px solid #094cfa;
}
